{{> '../../common/templates/back-button'}}

<h1>Exercise 3: Cancelling Observables</h1>


<p>
  <button id='button1'>Start logging</button>
</p>
{{> '../../common/templates/log-panel' id='panel3a' title='Exercise 3.A - Implicit cancellation'}}
<br>
<p>
  <button id='button2'>Start logging</button>
  <button id='button3'>Stop logging</button>
</p>
{{> '../../common/templates/log-panel' id='panel3b' title='Exercise 3.B - Explicit cancellation'}}

<p>
  <button id="button4">Create</button>
  <button id="button5">Stop All</button>
</p>
{{> '../../common/templates/log-panel' id='panel3c' title='Exercise 3.C - Cleaning up internal resources'}}