{{> '../../common/templates/back-button'}}

<h1>Exercise 5: Error Recovery</h1>

<p>Please open your developer tools</p>

{{> '../../common/templates/log-panel' id='panel5a' title='Exercise 5.A - Retry up to 20 times'}}
<br/>
{{> '../../common/templates/log-panel' id='panel5b' title='Exercise 5.B - Retry if sequence is too short'}}
<br/>
{{> '../../common/templates/log-panel' id='panel5c' title='Exercise 5.V - Retry if failure was recent'}}