{{> '../../common/templates/back-button'}}

<h1>Exercise 5: Error Recovery</h1>

<p>Please open your developer tools</p>

{{> '../../common/templates/log-panel' id='panel4a' title='Exercise 4.A - Retrying'}}