{{> '../../common/templates/back-button'}}

<h1>Exercise 9: Pong game - Combining streams</h1>

<div id="game">
  <div class="title">
    PONG
  </div>
  <div class="scores">
    <div class="score score-l">0</div>
    <div class="score score-r">0</div>
  </div>
  <canvas class="board"></canvas>
</div>