<div id="game">
  <div class="title">
    PONG
  </div>
  <div class="scores">
    <div class="score score-l">0</div>
    <div class="score score-r">0</div>
  </div>
  <canvas class="board"></canvas>
  The value is <span class="value"></span>
</div>