{{> '../../common/templates/back-button'}}
<h1>Exercise 1: Array higher-order functions</h1>

{{> '../../common/templates/log-panel' id='panel1a' title='Exercise 1.A - using forEach to sum'}}

<br>

{{> '../../common/templates/log-panel' id='panel1b' title='Exercise 1.B - using map() to square'}}

<br>

{{> '../../common/templates/log-panel' id='panel1c' title='Exercise 1.C - using filter() to detect even elements'}}

<br>

{{> '../../common/templates/log-panel' id='panel1d' title='Exercise 1.D - using reduce() to sum up elements'}}

<br>

{{> '../../common/templates/log-panel' id='panel1e' title='Exercise 1.E - using some() to check for even elements'}}

<br>

{{> '../../common/templates/log-panel' id='panel1f' title='Exercise 1.F - using every() to check for even elements'}}

<br>