{{> '../../common/templates/back-button'}}

<h1>Exercise 2: Subscribe to Observables</h1>

<p>
  <button id='button1'>Click Button 1</button>
</p>
{{> '../../common/templates/log-panel' id='panel2a' title='Exercise 2.A'}}

<br>

{{> '../../common/templates/log-panel' id='panel2b' title='Exercise 2.B'}}

<br>

{{> '../../common/templates/log-panel' id='panel2c' title='Exercise 2.C'}}
<br>

{{> '../../common/templates/log-panel' id='panel2d' title='Exercise 2.D'}}
<br>

{{> '../../common/templates/log-panel' id='panel2e' title='Exercise 2.E'}}
