{{> '../../common/templates/back-button'}}

<h1>Exercise 2: Subscribe to Observables</h1>

<button id='button1'>Click Button 1</button>

<p>Please open your developer tools</p>

<div id="example"></div>