<h1>Workshop</h1>

<h4>Demos</h4>
<ol>
  {{#each demos as |demo| }}
  <li>
    <a href={{demo.menuLink.url}}>{{demo.menuLink.text}}</a>
  </li>
  {{/each}}
</ol>
<h4>Exercises</h4>
<ol>
  {{#each exercises as |exercise| }}
  <li>
    <a href={{exercise.menuLink.url}}>{{exercise.menuLink.text}}</a>
  </li>
  {{/each}}
</ol>