<style class='text/css'>
  .nav {
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    padding: 10px;
    background: #ccc;
    border-bottom: 1px solid #999;
  }

  .nav .back-button a {
    color: blue;
  }
</style>

<nav class='nav'>
  <div class="back-button">
    <a href="/">&lt; Back</a>
  </div>
</nav>