{{> '../../common/templates/back-button'}}

<h1>Exercise 5: Simon Game - Collection and Filtering Operators</h1>

<p>
  <input class='search-input' type="search" placeholder='Search movies, tv and people' />
  <button class='submit-search'>Search</button>
</p>

<ul class="results"></ul>